<div class="macro-vimeo">
	<iframe
		src="https://player.vimeo.com/video/{{ id | escape }}"
		title="{{ title | escape }}"
		frameborder="0"
		allow="autoplay; fullscreen; picture-in-picture"
		allowfullscreen
	></iframe>
</div>
